.button{
    background-color: rgb(22 163 74);
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px;
    border-radius: 20px;
}
.button:hover{
    background-color: rgb(255, 25, 41);
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px;
    border-radius: 20px;
}